@import 'bootstrap.min';
@import 'font-awesome';

.brand{
    width: 70px;
    height: 30px;
}

body{
  background: #f5f5f5;
}

.carousel-indicators {
    bottom: 20px;
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}

.carousel-inner > .item > .slide-image {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 450px;
}

.carousel-inner>.item>a>.slide-image, .carousel-inner>.item>.slide-image {
    line-height: 1;
}
.carousel-inner>.item>a>.slide-image, .carousel-inner>.item>.slide-image, .img-responsive, .thumbnail a>.slide-image, .thumbnail>.slide-image {
    display: block;
    max-width: 80%;
    height: auto;
}
.slide-image {
    vertical-align: middle;
    border: 0;
}

.carousel .item {
    height: 450px;
    background-color: #777;
}

.container-fluid{
  background: white;
}
