@import 'bootstrap.min';
@import 'font-awesome';
@import 'home';
@import 'posts';
@import 'tags';
@import 'users';
@import 'comments';

*{
  font-family: Crimson;

}

.book-icon{
  font-size: 34px;
}

.tag-label{
  text-decoration: none;
  color: black;
  font-size: 1em;
}



.brand{
  font-size: 2.5em;
  color: white;

}
.brand:link, .brand:visited {
text-decoration: none
}
.brand:hover {
text-decoration: none;
color: white;
}
.brand:active {
text-decoration: none
}
.navbar{

  background-color: #f5f5f5;
  border: 0;

}

body{
  background: #f5f5f5;
}



.main-posts{
  margin-top: 2%;
}



.nav-aside{
  float: right;
  ul li{
    background: white;
  }
  .panel{
    background: #00796b;
  }

}


.form{
  margin-top: 10%;
}

hr{
  max-width: 90%;
}
.header{
  background:#00796b;
}

.main{
  background: white;
}

.upvote-title{
  margin-top: 13%;
}

.search-bar{
  margin-top: 5%;
}

.new{
  a{
    width: 100%;
  }
}

body{
  position: relative;
}
.post{

  .post-title{
    font-size: 3em;
    color: #212121;
  }

  .post-autor{
    font-size: 1.5em;
    color: #616161;
  }
  .post-date{
    font-size: 1em;
    color: #616161;
  }
  .post-body{
    font-size: 2em;
    color: #424242;
  }
}
.panel{
  box-shadow:  0 1px 0.5px #777;
  .panel-body{
    .panel-title{
      font-size: 2.5em;
      color: #212121;
    }
    .content{
      font-size: 1.5em;
      color: #424242;
    }
    .autor{
      font-size: 1em;
      color: #616161;
    }
  }
}

@media only screen and (max-width: 1092px) {
  .nav-aside{
    float: none;
  }

  .search-bar{
    margin-top: 10%;
  }
}

@media only screen and (max-width: 425px) {
  .search-bar{
    margin-top: 15%;
  }
}
