@import 'bootstrap.min';
@import 'font-awesome';
@import 'home';
@import 'posts';

*{
  font-family: Crimson;

}
.brand{
    width: 70px;
    height: 30px;
}

.navbar{
  background-color: #f5f5f5;
}

body{
  background: #f5f5f5;
}



.main-posts{
  margin-top: 3%;
}

.carousel .item {
    height: 450px;
    background-color: #777;
}

.nav-aside{
  float: right;
  ul li{
    background: #eeeeee;
  }
  .panel{
    background: #00796b;
  }

}

hr{
  max-width: 90%;
}
.header{
  background:#00796b;
}

.main{
  background: white;
}

.upvote-title{
  margin-top: 13%;
}

.new{
  margin: 1%;
}
.post{

  .post-title{
    font-size: 3em;
    color: #212121;
  }

  .post-autor{
    font-size: 1.5em;
    color: #616161;
  }
  .post-date{
    font-size: 1em;
    color: #616161;
  }
  .post-body{
    font-size: 2em;
    color: #424242;
  }
}
.panel{
  box-shadow:  0 1px 0.5px #777;
  .panel-body{
    .panel-title{
      font-size: 2.5em;
      color: #212121;
    }
    .content{
      font-size: 1.5em;
      color: #424242;
    }
    .autor{
      font-size: 1em;
      color: #616161;
    }
  }
}
