.carousel-indicators {
    bottom: 20px;
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}
.carousel-caption{

  color: black;
  text-shadow: 2px 2px 1px rgba(0,0,0,0.3);
  background:rgba(233, 233, 233,0.1);
}

.carousel-caption{
  p{
    font-size: 1.7em;
  }
}
.carousel-inner > .item > .slide-image {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 450px;
}

.carousel-inner>.item>a>.slide-image, .carousel-inner>.item>.slide-image {
    line-height: 1;
}
.carousel-inner>.item>a>.slide-image, .carousel-inner>.item>.slide-image, .img-responsive, .thumbnail a>.slide-image, .thumbnail>.slide-image {
    display: block;
    max-width: 60%;
    height: auto;
}
.slide-image {
    vertical-align: middle;
    border: 0;
}

.carousel .item {
    height: 450px;
    background-color: #777;
}
@media only screen and (max-width: 755px) {
  .carousel .item {
      height: 250px;

  }
}

@media only screen and (max-width: 425px) {
  .carousel .item {
      display: none;

  }

}
