
<% parent_id = parent_id || nil %>
<%= form_for(:comment, url: comments_path, remote: true) do |form| %>

<div class="row form">
  <div class="col-md-8">
    <form class="text-center">
      <div class="form-group">
        <%= form.text_area :body,placeholder: "Conteúdo", rows: 4,class: "form-control body" %>
      </div>
        <%= form.hidden_field :parent_comment_id, value: parent_id %>
      <div>
        <%= form.submit 'Comentar',value:"Comentar", class: "btn btn-info"%>
      </div>
    </form>
  </div>
</div>
<% end %>
